{% extends 'symcom4/admin/_text.html.twig' %}
{% block all %}
    <div id="gestion_lien" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ text_service_lien }}</h5>
            {% if parent.lien != null %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:5%;" scope="col">{{ text_id }}</th>
                            <th style="width:50%;" scope="col">{{ text_service_lien_url }}</th>
                            <th style="width:45%;" scope="col">{{ text_actions }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ parent.lien.id }}</td>
                            <td><a href="{{ parent.lien.url }}" target="_blank">{{ parent.lien.label }}</a></td>
                            <td>
                                {{ path('admin_structure_editlien', {'idstructure': parent.id, 'idlien': parent.lien.id, 'idpagemere': idPage}) | ModifierBouton }}
                                {{ path('admin_structure_deletelien', {'idstructure': parent.id, 'idlien': parent.lien.id, 'idpagemere': idPage}) | SupprimerBouton }}
                            </td>
                        </tr>   
                    </tbody>
                </table>
            {% else %}
                <p class="text-danger">{{ text_no_lien }}</p>
                {{ path('admin_structure_addlien', {'idstructure': parent.id, 'idpagemere': idPage}) | AddLien(text_add_lien)}}
            {% endif %}
        </div>
    </div>
{% endblock %}