{% extends 'symcom4/admin/_text.html.twig' %}
{% block all %}
    <div id="gestion_telephones" class="card mb-3"> 
        <div class="card-body">
            <h5 class="card-title">{{ text_service_contact_telephone }}</h5>
            {% if telephones|length > 0 %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:5%;" scope="col">{{ text_id }}</th>
                            <th style="width:50%;" scope="col">{{ text_service_contact_telephone_numero }}</th>
                            <th style="width:45%;" scope="col">{{ text_actions }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for telephone in telephones %}
                            <tr>
                                <td>{{ telephone.id }}</td>
                                <td>{{ telephone.numero }}</td>
                                <td>
                                    {{ path('admin_structure_editcontact', {'idstructure': parent.id, 'idcontact': telephone.contact.id, 'idpagemere': idPage }) | ModifierBouton }}
                                    {{ path('admin_structure_deletecontact', {'idstructure': parent.id, 'idcontact': telephone.contact.id, 'idpagemere': idPage}) | SupprimerBouton }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            {% else %}
                <p class="text-danger">{{ text_no_telephone }}</p>
            {% endif %}
            {{ path('admin_structure_addcontact', {'idstructure': parent.id, 'type': 'telephone', 'idpagemere': idPage}) | AddContacts('telephone', text_add_tel)}}
        </div>
    </div>
{% endblock %}