{% embed 'symcom4/admin/template_sb2/elements/_card_with_menu.html.twig' with {'idPage': idPage, 'parent': parent, 'fonctions': fonctions, 'gestionService': gestionService} only %}
    {% set titre = 'Fonctions' %}
    {% if parent.lien != null %}
        {% set actions =    {                                
                            }
        %}
    {% else %}
        {% set actions =    {
                            }
        %}
    {% endif %}

    {% block contenu %}

        {% if fonctions | length > 0 %}
            {% embed 'symcom4/admin/template_sb2/elements/_table_mini.html.twig' with {'idPage': idPage, 'parent': parent, 'fonctions': fonctions, 'gestionService': gestionService} only %}
                {% set nomColonnes = ['Fonctions', 'Contacts', 'Actions'] %}
                {% block tbody %}
                    {% for fonction in fonctions %}
                        <tr>
                            <td>
                                {{ fonction.typeFonction.titre }}
                                {% if fonction.secteur != null %}
                                    - {{ fonction.secteur }}
                                {% endif %}
                                <hr/>
                                {% if fonction.humain != null %}
                                    <a href='{{ path('admin_humain', {'idhumain': fonction.humain.id}) }}'>{{ fonction.humain.nom }} {{ fonction.humain.prenom }}</a>
                                    {{ path('admin_structure_fonction_deletehumain', {'idstructure': parent.id, 'idfonction': fonction.id, 'idpagemere': idPage}) | LienPetitBtnRond( 'Supprimer', 'fa-trash', 'danger')}}
                                    <br/>
                                    {{ fonction.humain.contacts | NbrContacts }}
                                {% else %}
                                    {{ path('admin_structure_fonction_addhumain', {'idstructure': parent.id, 'idfonction': fonction.id, 'idpagemere': idPage}) | LienBtnWithIcon("Définir qui occupe cette fonction", ['fa-plus', 'fa-restroom'], 'primary')}}
                                {% endif %}
                            </td>
                            <td>
                                {{ gestionService.gestionTelephones(fonction) }}
                                <hr/>
                                {{ gestionService.gestionMails(fonction) }}
                            </td>
                            <td>
                                {{ path('admin_structure_editfonction', {'idstructure': parent.id, 'idfonction': fonction.id, 'idpagemere': idPage }) | LienBtnRond('Editer', 'fa-edit', 'primary') }}
                                {{ path('admin_structure_deletefonction', {'idstructure': parent.id, 'idfonction': fonction.id, 'idpagemere': idPage}) | LienBtnRond('Supprimer', 'fa-trash', 'danger') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endif %}
        
        <div class='text-center'>{{ path('admin_structure_addfonction', {'idstructure': parent.id, 'idpagemere': idPage}) | LienBtnWithIcon("Ajouter une nouvelle fonction", ['fa-plus', 'fa-chair'], 'primary')}}

    {% endblock %}
{% endembed %}