{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
    <h5 class="card-title">Mon espace Personnel : {{ app.user.humain.nom | upper }} {{ app.user.humain.prenom | title}}</h5>
    <p class="card-text">
        La catalogue de la Médiathèque est disponible ci-dessous. Nous vous conseillons d'utiliser la "recherche par genres" qui permet de voir l'intégralité d'un rayon ou de taper directement un titre de livre ou un nom d'auteur dans "Recherche simple".
    </p>
    <p class="card-text">
        Vous devrez vous connecter dans "Espace Lecteur" avec votre identifiant de carte Médiathèque ainsi que vos jours et mois de naissance (exemple : 5 février = 0502). Vous pourrez alors voir vos emprunts en cours et effectuer des réservations.
    </p>
    <div class="alert alert-danger">
        Attention, lorsque vous cliquerez sur <b>réserver</b>, votre réservation ne sera pas visible immédiatement mais sera bien prise en compte !
    </div>

    <div class="alert alert-warning">
        Désolé, notre catalogue n'est pas prévu pour une utilisation sur de petits écrans,<br/>il est donc possible que l'affichage ne soit pas optimal sur smartphone ou tablette...
    </div>


    <iframe class="mb-3" id="catalogue"
    title="Catalogie de la Médiathèque"
    width="970px"
    height="500px"
    src="http://catalogue.mediatheque.ville-guesnain.fr/">
    </iframe>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="alert alert-success">
        Merci de nous indiquer combien d'ouvrages vous avez sélectionné. Si vous le souhaitez, notre équipe pourra également en choisir pour vous !<br/>
        Pour rappel 5 livres, 4 CD et 2 DVD au maximum !
        
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 mb-3">Ouvrages sélectionnés dans le catalogue :</div>
                        <div class="col-md-4">{{ form_row(form.nbrLivreChoisi) }}</div>
                        <div class="col-md-4">{{ form_row(form.nbrCdChoisi) }}</div>
                        <div class="col-md-4">{{ form_row(form.nbrDvdChoisi) }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 mb-3">Ouvrages supplémentaires choisis par notre équipe :</div>
                        <div class="col-md-4">{{ form_row(form.nbrLivreSurprise) }}</div>
                        <div class="col-md-4">{{ form_row(form.nbrCdSurprise) }}</div>
                        <div class="col-md-4">{{ form_row(form.nbrDvdSurprise) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
        
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <a href="{{ path('drive_mediatheque_typeemprunt') }}" class="btn btn-primary">
                <i class="fas fa-redo"></i>
                Revenir à l'étape précédante
            </a>
        </div>
        <div class="col-md-6 mb-3">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                J'ai fini mes réservations et je passe à l'étape suivante.
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}