{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
    {% set membre = app.user.membreMediatheque %}
    <h5 class="card-title">Mon espace Personnel : {{ app.user.humain.nom | upper }} {{ app.user.humain.prenom | title}}</h5>
    <p class="card-text">
        ...
    </p>
    <div class="card mb-3">
        Ma commande en cours contient :<br/>
        {% set nbrLivre = membre.getCommmandeEnCours.nbrLivreChoisi + membre.getCommmandeEnCours.nbrLivreSurprise %}
        {% set nbrCd = membre.getCommmandeEnCours.nbrCdChoisi + membre.getCommmandeEnCours.nbrCdSurprise %}
        {% set nbrDvd = membre.getCommmandeEnCours.nbrDvdChoisi + membre.getCommmandeEnCours.nbrDvdSurprise %}
        <div class="row">
            <div class="col-md-3 text-left">
                <b class="ml-3">Pour {{ app.user.humain.prenom | title}} :</b>
                <ul>
                    {% if nbrLivre > 0 %}
                        {% if nbrLivre > 5 %}
                            <li>5 livres <span class="text-danger">(-{{ nbrLivre - 5}})</span></li> 
                        {% else %}
                            <li>{{ nbrLivre }} livre{% if nbrLivre > 1 %}s{% endif %}</li>
                        {% endif %}
                    {% endif %}
                    {% if nbrCd > 0 %}
                        {% if nbrCd > 4 %}
                            <li>4 CD <span class="text-danger">(-{{ nbrCd - 4}})</span></li>
                        {% else %}
                            <li>{{ nbrCd }} CD</li>
                        {% endif %}
                    {% endif %}
                    {% if nbrDvd > 0 %}
                        {% if nbrDvd > 2 %}
                            <li>2 DVD <span class="text-danger">(-{{ nbrDvd - 2}})</span></li>
                        {% else %}
                            <li>{{ nbrDvd }} DVD</li>
                        {% endif %}
                        
                    {% endif %}
                </ul> 
            </div>
        </div>
            
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <p>Je commande pour un autre membre de ma famille.</p>
            <a href="#" class="btn btn-success">
                Ajouter un membre de la famille
            </a>
        </div>
        <div class="col-md-6 mb-3">
            <p>Je choisi un créneau horaire pour venir chercher ma commande.</p>
            <a href="{{ path('drive_mediatheque_creneaux') }}" class="btn btn-success">
                Choisir un horaire
            </a>
        </div>
    </div>
{% endblock %}