{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
    {% set membre = app.user.membreMediatheque %}
    <h5 class="card-title">Mon espace Personnel : {{ app.user.humain.nom | upper }} {{ app.user.humain.prenom | title}}</h5>
    <p class="card-text">
        ...
    </p>
    <p class="card-text">
        Veuillez maintenant choisir un créneau disponible (en vert).
    </p>
    
    <div class="card">
        <div class="row">
            {% set jourPrecedant = null %}
            {% set nbrCreneauxEntreNow = 0 %}
            <div class="accordion" id="accordionDrive">

                {% for creneau in creneaux %}
                    {% set jour = creneau.debut | date("dM") %}
                    {% if jour != jourPrecedant %} 
                        {% if jourPrecedant != null %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %} 
                            <div class="card">
                                <div class="card-header" id="heading{{jour}}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link {% if jourPrecedant != null %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{jour}}" aria-expanded={% if jourPrecedant == null %}true{% else %}false{% endif %} aria-controls="collapse{{jour}}">
                                            <b>{{ creneau.debut | DateComplete }}</b>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{jour}}" class="collapse {% if jourPrecedant == null %}show{% endif %}" aria-labelledby="heading{{jour}}" data-parent="#accordionDrive">
                                    <div class="card-body">
                                        <div class="row">
                    {% endif %}
                        {# Affichage d'un creneau #}                   
                            {% if creneau.debut <= dansUneHeure or nbrCreneauxEntreNow < 4 or creneau.ouvert == false %}
                                <div class="col-md-3">
                                    <span class="btn btn-secondary m-1 col-12">
                                        {{ creneau.debut | date("H:i")}}
                                    </span>
                                </div>
                            {% else %}
                                <div class="col-md-3">
                                    <a href="" class="btn btn-success m-1 col-12">
                                        {{ creneau.debut | date("H:i")}}
                                    </a>
                                </div>
                            {% endif %}
                            {% if creneau.ouvert == true %}
                                {% set nbrCreneauxEntreNow = nbrCreneauxEntreNow + 1 %}
                            {% endif %}
                        {# Fin d'affichage d'un creneau #} 
                                                
                    {% set jourPrecedant = jour %}
                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
            </div>
        </div>
    </div>
{% endblock %}