{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
    <h5 class="card-title">Inscription</h5>
    <p>Veuillez compléter le formulaire ci-dessous :</p>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.utilisateur.humain.nom) }}</div>
        <div class="col-md-6">{{ form_row(form.utilisateur.humain.prenom) }}</div>
        <div class="col-md-6">{{ form_row(form.utilisateur.humain.sexe) }}</div>
        <div class="col-md-6">{{ form_row(form.utilisateur.humain.dateNaissance) }}</div>
        <div class="col-md-6">{{ form_row(form.numCarte) }}</div>
        <div class="col-md-6">{{ form_row(form.utilisateur.email) }}</div>
    </div>
    {{ text_enregistrer | BtnSubmit }}
    {{ form_end(form) }}
{% endblock %}