{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Services
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre de services : <strong>{{ services | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Descriptif</th>
                            <th scope="col">Guesninois</th>
                            <th scope="col">Contacts</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td><a href="{{ path('admin_structures_service', {'id': service.id}) }}">{{ service.structure.nom }}</a></td>
                                <td>{{ service.structure.presentation }}</td>
                                <td>{% if service.structure.local == true %}OUI{% else %}NON{% endif %}</td>
                                <td>{{ service.structure.contacts | NbrContacts }}</td>
                                <td>
                                    {{ path('admin_structures_service', {'id': service.id}) | ModifierBouton }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}