{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Associations
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre de types d'associations : <strong>{{ typeassociations | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}  
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for typeassociation in typeassociations %}
                            <tr>
                                <td>{{ typeassociation.id }}</td>
                                <td>{{ typeassociation.nom }}</td>
                                <td>
                                    {{ path('admin_structures_associations_type_edit', {'id': typeassociation.id}) | ModifierBouton }}
                                    {{ path('admin_structures_associations_type_delete', {'id': typeassociation.id}) | SupprimerBouton }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}