{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Médias
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre de dossiers : <strong>{{ dossiers | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}  
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Descriptif</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dossier in dossiers %}
                            <tr>
                                <td>{{ dossier.id }}</td>
                                <td>{{ dossier.titre }}</td>
                                <td>{{ dossier.descriptif }}</td>
                                <td>
                                    {#<a class="btn btn-primary" href="{{ path('admin_association_edit', {'id': dossier.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                                    <a class="btn btn-danger" href="{{ path('admin_association_delete', {'id': dossier.id}) }}"><i class="fas fa-trash"></i> Supprimer</a>#}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}