{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'dossiers': dossiers} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre de dossiers" %}
        {% block valeur %}
            {{ dossiers|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'dossiers': dossiers} only %}
        {% set titre = 'Les dossiers' %}
        {% set nomColonnes = ['#', 'Titre', 'Cote', 'Chemin', 'Descriptif', 'Actions'] %}
        {% block tbody %}
            {% for dossier in dossiers %}
                <tr>
                    <td>{{ dossier.id }}</td>
                    <td>{{ dossier.titre }}</td>
                    <td>{{ dossier.cote }}</td>
                    <td>{{ dossier.chemin }}</td>
                    <td>{{ dossier.descriptif }}</td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}