{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="h4">Ajout d'un contact à {{ humain.nom }} {{ humain.prenom }}</h1>
            <p>Veuillez compléter le formulaire ci-dessous :</p>
            {{ form_start(form) }}
                {% if type == 'tel' %}
                    {{ form_row(form.numero) }}
                {% endif %}
                {% if type == 'mail' %}
                    {{ form_row(form.adresse) }}
                {% endif %}
                {% if type == 'adresse' %}
                    {{ form_row(form.numero) }}
                    {{ form_row(form.rue) }}
                    {{ form_row(form.complement) }}
                    {{ form_row(form.codePostal) }}
                    {{ form_row(form.ville) }}  
                {% endif %}
            {{ form_widget(form.contact) }}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Enregistrer
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}