{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Humains
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre de personnes : <strong>{{ humains | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Contacts</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for humain in humains %}
                            <tr>
                                <td>{{ humain.id }}</td>
                                <td>{{ humain.nom }}</td>
                                <td>{{ humain.prenom }}</td>
                                <td>
                                    {% set tel = 0 %}{% set mail = 0 %}{% set home = 0 %}
                                    {% for contact in humain.contacts %}
                                        {% set type = contact.getType %}
                                        {% if type == 'mail' %}{% set mail = mail + 1 %}{% endif %}
                                        {% if type == 'telephone' %}{% set tel = tel + 1 %}{% endif %}
                                        {% if type == 'adresse' %}{% set home = home + 1 %}{% endif %}
                                    {% endfor %}
                                    {% if humain.contacts | length == 0 %}
                                        <div class='text-danger'>
                                            <i class="fas fa-phone"></i> x {{ tel }} /
                                            <i class="fas fa-at"></i> x {{ mail }} /
                                            <i class="fas fa-home"></i> x {{ home }}
                                        </div>
                                    {% else %} 
                                        <i class="fas fa-phone"></i> x {{ tel }} /
                                        <i class="fas fa-at"></i> x {{ mail }} /
                                        <i class="fas fa-home"></i> x {{ home }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'tel'}) }}"><i class="fas fa-plus"></i> <i class="fas fa-phone"></i> </a>
                                    <a class="btn btn-success" href="{{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'mail'}) }}"><i class="fas fa-plus"></i> <i class="fas fa-at"></i> </a>
                                    <a class="btn btn-success" href="{{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'adresse'}) }}"><i class="fas fa-plus"></i> <i class="fas fa-home"></i> </a>
                                    <a class="btn btn-primary" href="{{ path('admin_humain_edit', {'id': humain.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                                    <a class="btn btn-danger" href="{{ path('admin_humain_delete', {'id': humain.id}) }}"><i class="fas fa-trash"></i> Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}