{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Humains
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre de personnes : <strong>{{ humains | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Contacts</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for humain in humains %}
                            <tr>
                                <td>{{ humain.id }}</td>
                                <td>{{ humain.nom }}</td>
                                <td>{{ humain.prenom }}</td>
                                <td>
                                    {{ humain.contacts | NbrContacts }}
                                </td>
                                <td>
                                    {% if humain.utilisateur != null %}
                                        {{ humain.utilisateur.pseudo}}
                                    {% else %}
                                        {{ path('admin_humain_utilisateur_new', {'idhumain': humain.id, 'idpage': idpage}) | AddContacts('telephone')}}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'telephone'}) | AddContacts('telephone')}}
                                    {{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'mail'}) | AddContacts('mail')}}
                                    {{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'adresse'}) | AddContacts('adresse')}}
                                    {{ path('admin_humain_edit', {'idhumain': humain.id}) | ModifierBouton }}
                                    {{ path('admin_humain_delete', {'idhumain': humain.id}) | SupprimerBouton }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}