{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'humains': humains} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre de personnes" %}
        {% block valeur %}
            {{ humains|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'humains': humains} only %}
        {% set titre = 'Les humains' %}
        {% set nomColonnes = ['#', 'Nom', 'Prénom', 'pseudo', 'Contacts', 'Actions'] %}
        {% block tbody %}
            {% for humain in humains %}
                <tr>
                    <td>{{ humain.id }}</td>
                    <td>{{ humain.nom }}</td>
                    <td>{{ humain.prenom }}</td>
                    <td>
                        {% if humain.utilisateur != null %}
                            {{ humain.utilisateur.pseudo}}
                        {% else %}
                            Pas inscrit sur le site
                        {% endif %}
                    </td>
                    <td>
                        {{ humain.contacts | NbrContacts }}
                    </td>
                    <td>
                        {# {{ path('admin_humain_addcontact', {'idhumain': humain.id, 'type': 'telephone'}) | LienBtnRond('Ajouter un n° de téléphone', 'fa-phone', 'success')}}
                        {{ path('admin_humain_addcontact', {'idhumain': humain.id, 'type': 'mail'}) | LienBtnRond('Ajouter un e-mail', 'fa-at', 'success')}}
                        {{ path('admin_humain_addcontact', {'idhumain': humain.id, 'type': 'adresse'}) | LienBtnRond('Ajouter une adresse', 'fa-home', 'success')}} #}
                        {{ path('admin_humain', {'idhumain': humain.id}) | LienBtnRond('Voir', 'fa-eye', 'primary') }}
                        {{ path('admin_humain_edit', {'idhumain': humain.id}) | LienBtnRond('Editer', 'fa-edit', 'primary') }}
                        {{ path('admin_humain_delete', {'idhumain': humain.id}) | LienBtnRond('Supprimer', 'fa-trash', 'danger') }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}