{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="h4">Création d'une nouvelle personne</h1>
            <p>Veuillez compléter le formulaire ci-dessous :</p>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.sexe) }}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Enregistrer
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}