{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'utilisateurs': utilisateurs} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre d'utilisateurs" %}
        {% block valeur %}
            {{ utilisateurs|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'utilisateurs': utilisateurs} only %}
        {% set titre = 'Les utilisateurs' %}
        {% set nomColonnes = ['#', 'Nom', 'Prénom', 'Pseudo'] %}
        {% block tbody %}
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.humain.id }}</td>
                    <td>{{ utilisateur.humain.nom }}</td>
                    <td>{{ utilisateur.humain.prenom }}</td>
                    <td>
                        {{ utilisateur.pseudo }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}