{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Utilisateurs
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre d'utilisateurs : <strong>{{ utilisateurs | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for utilisateur in utilisateurs %}
                            <tr>
                                <td>{{ utilisateur.humain.id }}</td>
                                <td>{{ utilisateur.humain.nom }}</td>
                                <td>{{ utilisateur.humain.prenom }}</td>
                                <td>
                                    {{ utilisateur.pseudo }}
                                </td>
                                <td>
                                    {# {{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'telephone'}) | addContacts('telephone')}}
                                    {{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'mail'}) | addContacts('mail')}}
                                    {{ path('admin_humain_addcontact', {'id': humain.id, 'type': 'adresse'}) | addContacts('adresse')}}
                                    {{ path('admin_humain_edit', {'id': humain.id}) | ModifierBouton }}
                                    {{ path('admin_humain_delete', {'id': humain.id}) | SupprimerBouton }} #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}