{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Fonctions
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Nombre d'fonctions : <strong>{{ fonctions | length }}</strong>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}  
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Structure</th>
                            <th scope="col">Contacts</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fonction in fonctions %}
                            <tr>
                                <td>{{ fonction.id }}</td>
                                <td>{{ fonction.typeFonction.titre }}</td>
                                <td>{{ fonction.structure.nom }}</td>
                                <td>{{ fonction.contacts | NbrContacts }}</td>
                                <td>
                                {# {{ path('admin_fonction', {'idfonction': fonction.id}) | ModifierBouton }} #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}