{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'typeFonctions': typeFonctions} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre de types de fonctions" %}
        {% block valeur %}
            {{ typeFonctions|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'typeFonctions': typeFonctions} only %}
        {% set titre = 'Les services' %}
        {% set nomColonnes = ['#', 'Titre', 'Actions'] %}
        {% block tbody %}
            {% for typeFonction in typeFonctions %}
                <tr>
                    <td>{{ typeFonction.id }}</td>
                    <td>{{ typeFonction.titre }}</td>
                    <td>
                        {{ path('admin_fonctions_type_edit', {'idtypefonction': typeFonction.id}) | LienBtnRond('Editer', 'fa-edit', 'primary') }}
                        {{ path('admin_fonctions_type_delete', {'idtypefonction': typeFonction.id}) | LienBtnRond('Supprimer', 'fa-trash', 'danger') }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}