{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block titre %}
    {{ parent() }} : {{ association.structure.nom }}
{% endblock %}

{% block content %}

    <div class='row col-12'>
        <div class='{{ taille(8, 12) }}'>
            {{ gestionService.gestionAssociationBase(association.structure) }}
            {{ gestionService.gestionAssociationType(association.structure) }}
            {{ gestionService.gestionLien(association.structure) }}
            {{ gestionService.gestionImage(association.structure) }}
        </div>
        <div class='{{ taille(4, 12) }}'>
            {{ gestionService.gestionContacts(association.structure) }}
        </div>
    </div>

    <div class='row col-12'>
        <div class='{{ taille(12, 12) }}'>
            {{ gestionService.gestionStructureFonctions(association.structure) }}
        </div>
        <div class='{{ taille(12, 12) }}'>
            <div class='text-center'>{{ path('admin_structures_association_delete', {'idstructure': association.structure.id}) | LienBtnWithIcon('Supprimer' ~ association.structure.nom, 'fa-trash', 'danger') }}</div>
        </div>
    </div>

{% endblock %}