{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block titre %}
    {{ parent() }} : {{ entreprise.structure.nom }}
{% endblock %}

{% block content %}

    <div class='row col-12'>
        <div class='{{ taille(8, 12) }}'>
            {{ gestionService.gestionEntrepriseBase(entreprise.structure) }}
            {{ gestionService.gestionEntrepriseType(entreprise.structure) }}
            {{ gestionService.gestionLien(entreprise.structure) }}
            {{ gestionService.gestionImage(entreprise.structure) }}
        </div>
        <div class='{{ taille(4, 12) }}'>
            {{ gestionService.gestionContacts(entreprise.structure) }}
        </div>
    </div>

    <div class='row col-12'>
        <div class='{{ taille(12, 12) }}'>
            {{ gestionService.gestionStructureFonctions(entreprise.structure) }}
        </div>
        <div class='{{ taille(12, 12) }}'>
            <div class='text-center'>{{ path('admin_structures_entreprise_delete', {'idstructure': entreprise.structure.id}) | LienBtnWithIcon('Supprimer' ~ entreprise.structure.nom, 'fa-trash', 'danger') }}</div>
        </div>
    </div>

{% endblock %}