{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'entreprises': entreprises} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre d'entreprises" %}
        {% block valeur %}
            {{ entreprises|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'entreprises': entreprises} only %}
        {% set titre = 'Les entreprises' %}
        {% set nomColonnes = ['#', 'Nom', 'Descriptif', 'Guesninoise', 'Contacts', 'Actions'] %}
        {% block tbody %}
            {% for entreprise in entreprises %}
                <tr>
                    <td>{{ entreprise.id }}</td>
                    <td>{{ entreprise.structure.nom }}</td>
                    <td>{{ entreprise.structure.presentation }}</td>
                    <td>{% if entreprise.structure.local == true %}OUI{% else %}NON{% endif %}</td>
                    <td>{{ entreprise.structure.contacts | NbrContacts }}</td>
                    <td>{{ path('admin_structures_entreprise', {'identreprise': entreprise.id}) | ModifierBoutonRond }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}