{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'services': services} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre de services" %}
        {% block valeur %}
            {{ services|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'services': services} only %}
        {% set titre = 'Les services' %}
        {% set nomColonnes = ['#', 'Nom', 'Descriptif', 'Guesninoise', 'Contacts', 'Actions'] %}
        {% block tbody %}
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td><a href="{{ path('admin_structures_service', {'idservice': service.id}) }}">{{ service.structure.nom }}</a></td>
                    <td>{{ service.structure.presentation }}</td>
                    <td>{% if service.structure.local == true %}OUI{% else %}NON{% endif %}</td>
                    <td>{{ service.structure.contacts | NbrContacts }}</td>
                    <td>
                        {{ path('admin_structures_service', {'idservice': service.id}) | LienBtnRond('Editer', 'fa-edit', 'primary') }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}