{% extends 'symcom4/admin/template_sb2/_base.html.twig' %}

{% block content %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'typeEntreprises': typeEntreprises} only %}
        {% set taille = taille(3, 6) %}
        {% set couleur = 'primary' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Nombre de types d'entreprises" %}
        {% block valeur %}
            {{ typeEntreprises|length }}
        {% endblock %}
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_card_info.html.twig' with {'liensRapides': liensRapides} only %}
        {% set taille = taille(9, 12) %}
        {% set couleur = 'success' %}
        {% set icone = 'fa-home' %}
        {% set titre = "Actions rapides" %}
        {% block valeur %}
            {% include 'symcom4/admin/partials/_liensrapides.html.twig' %}
        {% endblock %}        
    {% endembed %}

    {% embed 'symcom4/admin/template_sb2/elements/_table.html.twig' with {'typeEntreprises': typeEntreprises} only %}
        {% set titre = "Les types d'entreprises" %}
        {% set nomColonnes = ['#', 'Nom', 'Actions'] %}
        {% block tbody %}
            {% for typeEntreprise in typeEntreprises %}
                <tr>
                    <td>{{ typeEntreprise.id }}</td>
                    <td>{{ typeEntreprise.nom }}</td>
                    <td>
                        {{ path('admin_structures_entreprises_type_edit', {'idtypeentreprise': typeEntreprise.id}) | ModifierBouton }}
                        {{ path('admin_structures_entreprises_type_delete', {'idtypeentreprise': typeEntreprise.id}) | SupprimerBouton }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}