{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if fonction is defined %}
                <h1 class="h4">Edition de la fonction : {{ fonction.typeFonction.titre }}</h1>
            {% else %}
                <h1 class="h4">Ajout d'une nouvelle fonction</h1>
            {% endif %}
            <p>{{ text_complete_form }}</p>
            {{ form_start(form) }}
            {{ form_row(form.typeFonction) }}
            {{ form_row(form.secteur) }}
            {{ text_enregistrer | BtnSubmit }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}