<div class="nav-side-menu">
    <div class="brand">Ville de Guesnain</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Tableau de bord
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#sc4-services" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Services municipaux <span class="arrow"></span></a>
                </li>
                
                <ul class="sub-menu collapse" id="sc4-services">
                    <li><a href="{{ path('admin_services') }}"><i class="fas fa-plus"></i> Voir les services</a></li>
                    <li><a href="{{ path('admin_service_new') }}"><i class="fas fa-plus"></i> Ajouter un service</a></li>
                </ul>

                <li  data-toggle="collapse" data-target="#sc4-associations" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Associations <span class="arrow"></span></a>
                </li>
                
                <ul class="sub-menu collapse" id="sc4-associations">
                    <li><a href="{{ path('admin_associations') }}"><i class="far fa-eye"></i> Voir les associations</a></li>
                    <!--<li><a href="{{ path('admin_association_new') }}"><i class="fas fa-plus"></i> Ajouter une association</a></li>-->
                    <li><a href="{{ path('admin_associations_types') }}"><i class="far fa-eye"></i> Voir les types associations</a></li>
                    <!--<li><a href="{{ path('admin_associations_type_new') }}"><i class="fas fa-plus"></i> Ajouter un type d'association</a></li>-->
                </ul>

                <li  data-toggle="collapse" data-target="#sc4-medias" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Médias <span class="arrow"></span></a>
                </li>
                
                <ul class="sub-menu collapse" id="sc4-medias">
                    <li><a href="{{ path('admin_medias') }}"><i class="far fa-eye"></i> Voir les médias</a></li>
                    <li><a href="{{ path('admin_medias_dossiers') }}"><i class="far fa-eye"></i> Voir les dossiers</a></li>
                </ul>
{#
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>#}
            </ul>
     </div>
</div>